/* Main CSS Settings */

:root{
    --color-P : #898980;
    --color-S : #A9B2AC;
    --color-A : #DEF2C8;
}

*{
    font-family: "Zen Kaku Gothic New",sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titleFont{
    font-family: "Ojuju",sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* color: var(--color-P); */
}

.color-P{
    color: var(--color-P);
}
.color-S{
    color: var(--color-S);
}
.color-A{
    color: var(--color-A);
}

.bg-P{
    background-color:  var(--color-P);
}
.bg-S{
    background-color: var(--color-S);
}
.bg-A{
    background-color: var(--color-A);
}

/* PROJECT */
h1{
    color:var(--color-S);
}

.transitionStandard{
    transition: 0.5s;
}

/* NAVBAR */
.navbarScrolled{
    background-color:rgba(169, 178, 172, 0.5) !important;
    margin: 1vh 15vw;
    backdrop-filter: blur(5px);
    border : 1px solid wheat;
    border-radius: 5px;
}

.brandScrolled{
    background-image: url(./media/logoipsum-212.svg);
    /* src: url(./media/logoipsum-212.svg) !important; */
}

/* HEADER */
.masthead{
    height: 75vh;
    background-color: var(--color-P);
}

/* HEADER BUTTONS */
.headBtn{
    border: 1px solid var(--color-A) ;
    text-align: center;
}

.headBtn:hover{
    border: 1px solid var(--color-P) ;
    background-color: var(--color-A);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}

/* CARDS */
/* CARD BUTTON */
.cardButtonBuy{
    background-color: var(--color-P);
    color: var(--color-A);
    border-radius: 5px;
}

.cardButtonBuy:hover{
    background-color: var(--color-A);
    color: var(--color-P);
    transform: scale(1.2);
    transition: .5s;
    
}

.itemCard:hover{
    div>img{
        overflow: hidden !important;
        transform: scale(1.1);
        transition: .5s;
        color: rgba(0, 0, 0, 1);
    }
    
}

/* CARD CHECKMARK */
.fa-xmark{
    color: red;
}
.fa-check{
    color: green;
}

/* CATEGORIES */
.catImage{
    width: 100%;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid var(--color-A);
    border-radius: 50%;
}

.catImage:hover{
    transform: scale(1.2);
    transition: 0.5s;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 22px 70px 4px;
}


/* BUTTONS */
.boxNumber{
    height: 100px;
    /* width: 100px; */
    border-radius: 10px;
    background-color: var(--color-P) !important;
    color: var(--color-A) !important;
}

.boxNumber:hover{
    font-size: larger;
    color: var(--color-P) !important;
    background-color: var(--color-A) !important;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
}

.btnTitle{
    font-size: 25px;
    
}





/* MEDIA QUERIES */
@media screen and (max-width: 796px)  {
    .imgMasthead{
        display: none;
    }
}

@media screen and (max-width: 796px) {
    .btnTitle{
        font-size: 15px;
    }
}

